.mediaViewInfo {
	--web-view-name: Compra Realizada;
	--web-view-id: Compra_Realizada;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Compra_Realizada;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Compra_Realizada {
	position: absolute;
	width: 1600px;
	height: 1239px;
	background-color: rgba(247,247,247,1);
	overflow: hidden;
	--web-view-name: Compra Realizada;
	--web-view-id: Compra_Realizada;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Grupo_176 {
	position: absolute;
	width: 616px;
	height: 335px;
	left: 458px;
	top: 301px;
	overflow: visible;
}
#Caminho_85 {
	fill: rgba(255,255,255,1);
}
.Caminho_85 {
	overflow: visible;
	position: absolute;
	width: 616px;
	height: 335px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_830 {
	position: absolute;
	width: 260.305px;
	height: 203.582px;
	left: 134.269px;
	top: 88.418px;
	overflow: visible;
}
#Grupo_162 {
	position: absolute;
	width: 260.305px;
	height: 117.54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_39 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_39 {
	position: absolute;
	overflow: visible;
	width: 260.305px;
	height: 117.54px;
	left: 0px;
	top: 0px;
}
#COMPRA_REALIZADA_COM_SUCESSO_O {
	left: 10.388px;
	top: 39.77px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Grupo_163 {
	position: absolute;
	width: 164.163px;
	height: 55px;
	left: 48.557px;
	top: 148.582px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: HOMEPAGE.html;
	cursor: pointer;
}
#Retngulo_39_bnw {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_39_bnw {
	position: absolute;
	overflow: visible;
	width: 164.163px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#CONTINUAR_COMPRANDO {
	left: 13.49px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Symbol_2__25 {
	position: absolute;
	width: 1619px;
	height: 143px;
	left: -2px;
	top: -2px;
	overflow: visible;
}
#Retngulo_2 {
	fill: rgba(255,255,255,1);
}
.Retngulo_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.098));
	position: absolute;
	overflow: visible;
	width: 1637px;
	height: 161px;
	left: 0px;
	top: 0px;
}
#Retngulo_1 {
	fill: rgba(240,240,240,1);
}
.Retngulo_1 {
	position: absolute;
	overflow: visible;
	width: 1619px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Grupo_5 {
	position: absolute;
	width: 284.189px;
	height: 31px;
	left: 1264.811px;
	top: 30px;
	overflow: visible;
}
#Grupo_4 {
	position: absolute;
	width: 163.761px;
	height: 30px;
	left: 120.429px;
	top: 0px;
	overflow: visible;
}
#Carrinho__R000 {
	left: 32.761px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Caminho_2 {
	fill: rgba(0,0,0,1);
}
.Caminho_2 {
	overflow: visible;
	position: absolute;
	width: 26.538px;
	height: 25.463px;
	left: 0px;
	top: 2.465px;
	transform: matrix(1,0,0,1,0,0);
}
#Linha_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 26px;
	left: 114.861px;
	top: 4.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Caminho_83 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Caminho_83 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 26px;
	left: 0px;
	top: 2.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_145 {
	position: absolute;
	width: 89.739px;
	height: 30px;
	left: 5.451px;
	top: 1px;
	overflow: visible;
}
#Caminho_1 {
	fill: rgba(0,0,0,1);
}
.Caminho_1 {
	overflow: visible;
	position: absolute;
	width: 29.739px;
	height: 25.465px;
	left: 0px;
	top: 3.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Usurio {
	left: 34.739px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_6 {
	position: absolute;
	width: 442px;
	height: 50px;
	left: 643px;
	top: 21px;
	overflow: visible;
}
#Retngulo_17 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_17 {
	position: absolute;
	overflow: visible;
	width: 442px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Grupo_7 {
	position: absolute;
	width: 411px;
	height: 24px;
	left: 16px;
	top: 15px;
	overflow: visible;
}
#Caminho_3 {
	fill: rgba(0,0,0,1);
}
.Caminho_3 {
	overflow: visible;
	position: absolute;
	width: 20.345px;
	height: 20.345px;
	left: 390.655px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Procurar {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Grupo_8 {
	position: absolute;
	width: 87.396px;
	height: 21px;
	left: 771px;
	top: 106px;
	overflow: visible;
}
#CATEGORIA {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Caminho_4 {
	fill: rgba(0,0,0,1);
}
.Caminho_4 {
	overflow: visible;
	position: absolute;
	width: 10.792px;
	height: 6.927px;
	left: 76.604px;
	top: 8.285px;
	transform: matrix(1,0,0,1,0,0);
}
#HOMEPAGE {
	left: 643px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: HOMEPAGE.html;
	cursor: pointer;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#QUEM_SOMOS {
	left: 913px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: DASHBOARD.html;
	cursor: pointer;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#CONTATO {
	left: 1037px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: CONTATO.html;
	cursor: pointer;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Logotipo {
	position: absolute;
	width: 208px;
	height: 53px;
	left: 269px;
	top: 15px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: HOMEPAGE.html;
	cursor: pointer;
}
#Disk {
	position: absolute;
	width: 80px;
	height: 79px;
	left: 184px;
	top: 2px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: HOMEPAGE.html;
	cursor: pointer;
}
#Symbol_1__23 {
	position: absolute;
	width: 1600px;
	height: 467px;
	left: 0px;
	top: 775px;
	overflow: visible;
}
#Grupo_67 {
	position: absolute;
	width: 1600px;
	height: 373px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_40 {
	fill: rgba(232,232,232,1);
}
.Retngulo_40 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 373px;
	left: 0px;
	top: 0px;
}
#Grupo_54 {
	position: absolute;
	width: 106px;
	height: 238px;
	left: 551px;
	top: 61px;
	overflow: visible;
}
#POLTICAS {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Termos_de_Uso {
	left: 0px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Poltica_de_Privacidade {
	left: 0px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Poltica_de_Retorno {
	left: 0px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_56 {
	position: absolute;
	width: 100px;
	height: 258px;
	left: 705px;
	top: 61px;
	overflow: visible;
}
#CATEGORIAS {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categoria_X {
	left: 0px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categoria_X_boy {
	left: 0px;
	top: 102px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categoria_X_boz {
	left: 0px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categoria_X_bo {
	left: 0px;
	top: 186px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categoria_X_bpa {
	left: 0px;
	top: 228px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_60 {
	position: absolute;
	width: 204.79px;
	height: 204.79px;
	left: 99.21px;
	top: 0px;
	overflow: visible;
}
#Grupo_59 {
	position: absolute;
	width: 107.838px;
	height: 21.875px;
	left: 48.79px;
	top: 175.688px;
	overflow: visible;
}
#Unio_2 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Unio_2 {
	overflow: visible;
	position: absolute;
	width: 108.838px;
	height: 22.875px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_transparente {
	position: absolute;
	width: 204.79px;
	height: 204.79px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_64 {
	position: absolute;
	width: 380px;
	height: 213px;
	left: 911px;
	top: 61px;
	overflow: visible;
}
#Grupo_58 {
	position: absolute;
	width: 105px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#INSCREVA-SE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Inscreva-se_na_nossa_newslette {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 381px;
	height: 96px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_63 {
	position: absolute;
	width: 380px;
	height: 50px;
	left: 0px;
	top: 163px;
	overflow: visible;
}
#Grupo_61 {
	position: absolute;
	width: 380px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_41 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_41 {
	position: absolute;
	overflow: visible;
	width: 380px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Endereo_de_Email {
	left: 9px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_62 {
	position: absolute;
	width: 118px;
	height: 48px;
	left: 261px;
	top: 1px;
	overflow: visible;
}
#Retngulo_39_bpf {
	fill: rgba(0,0,0,1);
}
.Retngulo_39_bpf {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#INSCREVA-SE_bpg {
	left: 23px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Grupo_958 {
	position: absolute;
	width: 168px;
	height: 233px;
	left: 335px;
	top: 61px;
	overflow: visible;
}
#PGINAS_PRINCIPAIS {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Categorias {
	left: 26px;
	top: 109px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Quem_Somos {
	left: 26px;
	top: 156px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Contato {
	left: 27px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Homepage {
	left: 27px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_66 {
	position: absolute;
	width: 1600px;
	height: 94px;
	left: 0px;
	top: 373px;
	overflow: visible;
}
#Retngulo_42 {
	fill: rgba(255,255,255,1);
}
.Retngulo_42 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 94px;
	left: 0px;
	top: 0px;
}
#Grupo_65 {
	position: absolute;
	width: 113.128px;
	height: 22.815px;
	left: 1259.641px;
	top: 35.493px;
	overflow: visible;
}
#Visa_Inc_logo {
	position: absolute;
	width: 54.161px;
	height: 17.528px;
	left: 58.967px;
	top: 2.698px;
	overflow: visible;
}
#polygon9 {
	fill: rgba(0,0,0,1);
}
.polygon9 {
	overflow: visible;
	position: absolute;
	width: 7.131px;
	height: 16.968px;
	left: 19.082px;
	top: 0.307px;
	transform: matrix(1,0,0,1,0,0);
}
#path11 {
	fill: rgba(0,0,0,1);
}
.path11 {
	overflow: visible;
	position: absolute;
	width: 13.161px;
	height: 17.528px;
	left: 26.213px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#path13 {
	fill: rgba(0,0,0,1);
}
.path13 {
	overflow: visible;
	position: absolute;
	width: 15.743px;
	height: 16.968px;
	left: 38.417px;
	top: 0.308px;
	transform: matrix(1,0,0,1,0,0);
}
#path15 {
	fill: rgba(0,0,0,1);
}
.path15 {
	overflow: visible;
	position: absolute;
	width: 15.472px;
	height: 16.95px;
	left: 4.585px;
	top: 0.308px;
	transform: matrix(1,0,0,1,0,0);
}
#path17 {
	fill: rgba(0,0,0,1);
}
.path17 {
	overflow: visible;
	position: absolute;
	width: 10.651px;
	height: 9.225px;
	left: 0px;
	top: 0.307px;
	transform: matrix(1,0,0,1,0,0);
}
#MasterCard_Logo {
	position: absolute;
	width: 38.108px;
	height: 22.815px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#g10305 {
	position: absolute;
	width: 38.108px;
	height: 22.815px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#path2268 {
	fill: rgba(227,227,227,1);
}
.path2268 {
	overflow: visible;
	position: absolute;
	width: 22.809px;
	height: 22.815px;
	left: 15.298px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#path1350 {
	fill: rgba(152,152,152,1);
}
.path1350 {
	overflow: visible;
	position: absolute;
	width: 22.809px;
	height: 22.809px;
	left: 0px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#use9412 {
	fill: rgba(252,179,64,1);
}
.use9412 {
	overflow: visible;
	position: absolute;
	width: 0.738px;
	height: 0.738px;
	left: 36.594px;
	top: 17.369px;
	transform: matrix(1,0,0,1,0,0);
}
#g16480 {
	position: absolute;
	width: 36.599px;
	height: 6.383px;
	left: 0.727px;
	top: 8.462px;
	overflow: visible;
}
#g13802 {
	position: absolute;
	width: 35.941px;
	height: 6.143px;
	left: 0px;
	top: 0.24px;
	overflow: visible;
}
#path13804 {
	fill: rgba(0,0,0,1);
}
.path13804 {
	overflow: visible;
	position: absolute;
	width: 2.466px;
	height: 5.504px;
	left: 12.584px;
	top: 0.632px;
	transform: matrix(1,0,0,1,0,0);
}
#path13806 {
	fill: rgba(0,0,0,1);
}
.path13806 {
	overflow: visible;
	position: absolute;
	width: 3.894px;
	height: 4.926px;
	left: 14.846px;
	top: 1.206px;
	transform: matrix(1,0,0,1,0,0);
}
#path13808 {
	fill: rgba(0,0,0,1);
}
.path13808 {
	overflow: visible;
	position: absolute;
	width: 4.201px;
	height: 6.143px;
	left: 21.349px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#path13810 {
	fill: rgba(0,0,0,1);
}
.path13810 {
	overflow: visible;
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 5.527px;
	top: 1.225px;
	transform: matrix(1,0,0,1,0,0);
}
#path13812 {
	fill: rgba(0,0,0,1);
}
.path13812 {
	overflow: visible;
	position: absolute;
	width: 3.402px;
	height: 4.87px;
	left: 9.224px;
	top: 1.233px;
	transform: matrix(1,0,0,1,0,0);
}
#path13814 {
	fill: rgba(0,0,0,1);
}
.path13814 {
	overflow: visible;
	position: absolute;
	width: 4.692px;
	height: 5.857px;
	left: 31.249px;
	top: 0.253px;
	transform: matrix(1,0,0,1,0,0);
}
#path13816 {
	fill: rgba(0,0,0,1);
}
.path13816 {
	overflow: visible;
	position: absolute;
	width: 5.962px;
	height: 5.797px;
	left: 0px;
	top: 0.244px;
	transform: matrix(1,0,0,1,0,0);
}
#path13818 {
	fill: rgba(0,0,0,1);
}
.path13818 {
	overflow: visible;
	position: absolute;
	width: 3.419px;
	height: 5.128px;
	left: 18.67px;
	top: 0.921px;
	transform: matrix(1,0,0,1,0,0);
}
#use14699 {
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 24.952px;
	top: 1.225px;
	overflow: visible;
}
#path13810_1_ {
	fill: rgba(0,0,0,1);
}
.path13810_1_ {
	overflow: visible;
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#use14701 {
	fill: rgba(0,0,0,1);
}
.use14701 {
	overflow: visible;
	position: absolute;
	width: 2.816px;
	height: 4.707px;
	left: 28.859px;
	top: 1.342px;
	transform: matrix(1,0,0,1,0,0);
}
#g10289 {
	position: absolute;
	width: 36.245px;
	height: 6.015px;
	left: 0.354px;
	top: 0px;
	overflow: visible;
}
#path4157 {
	fill: rgba(255,255,255,1);
}
.path4157 {
	overflow: visible;
	position: absolute;
	width: 2.414px;
	height: 5.504px;
	left: 12.546px;
	top: 0.504px;
	transform: matrix(1,0,0,1,0,0);
}
#path4155 {
	fill: rgba(255,255,255,1);
}
.path4155 {
	overflow: visible;
	position: absolute;
	width: 3.856px;
	height: 4.926px;
	left: 14.809px;
	top: 1.078px;
	transform: matrix(1,0,0,1,0,0);
}
#path4151 {
	fill: rgba(255,255,255,1);
}
.path4151 {
	overflow: visible;
	position: absolute;
	width: 4.133px;
	height: 6.015px;
	left: 21.38px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#path4149 {
	fill: rgba(255,255,255,1);
}
.path4149 {
	overflow: visible;
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 5.489px;
	top: 1.097px;
	transform: matrix(1,0,0,1,0,0);
}
#path4145 {
	fill: rgba(255,255,255,1);
}
.path4145 {
	overflow: visible;
	position: absolute;
	width: 3.402px;
	height: 4.87px;
	left: 9.187px;
	top: 1.105px;
	transform: matrix(1,0,0,1,0,0);
}
#path4139 {
	fill: rgba(255,255,255,1);
}
.path4139 {
	overflow: visible;
	position: absolute;
	width: 4.692px;
	height: 5.849px;
	left: 31.211px;
	top: 0.133px;
	transform: matrix(1,0,0,1,0,0);
}
#path4133 {
	fill: rgba(255,255,255,1);
}
.path4133 {
	overflow: visible;
	position: absolute;
	width: 5.925px;
	height: 5.782px;
	left: 0px;
	top: 0.13px;
	transform: matrix(1,0,0,1,0,0);
}
#path4131 {
	fill: rgba(255,255,255,1);
}
.path4131 {
	overflow: visible;
	position: absolute;
	width: 2.961px;
	height: 4.767px;
	left: 18.632px;
	top: 1.153px;
	transform: matrix(1,0,0,1,0,0);
}
#use8523 {
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 25.173px;
	top: 1.097px;
	overflow: visible;
}
#path4149_1_ {
	fill: rgba(255,255,255,1);
}
.path4149_1_ {
	overflow: visible;
	position: absolute;
	width: 3.924px;
	height: 4.902px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#use8525 {
	position: absolute;
	width: 2.961px;
	height: 4.767px;
	left: 28.827px;
	top: 1.153px;
	overflow: visible;
}
#path4131_1_ {
	fill: rgba(255,255,255,1);
}
.path4131_1_ {
	overflow: visible;
	position: absolute;
	width: 2.961px;
	height: 4.767px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#text9407 {
	fill: rgba(255,255,255,1);
}
.text9407 {
	overflow: visible;
	position: absolute;
	width: 0.737px;
	height: 0.737px;
	left: 35.508px;
	top: 5.194px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_secure_282889 {
	position: absolute;
	width: 17.163px;
	height: 23.013px;
	left: 1209.597px;
	top: 35.493px;
	overflow: visible;
}
#Caminho_81 {
	fill: rgba(145,145,145,1);
}
.Caminho_81 {
	overflow: visible;
	position: absolute;
	width: 17.163px;
	height: 23.013px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_2020_All_Rights_Reserved {
	left: 230px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Grupo_799 {
	position: absolute;
	width: 122px;
	height: 37px;
	left: 246px;
	top: 225px;
	overflow: visible;
}
#Obrigado {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
     columns: #000000; 
     text-decoration:none; 
     cursor:pointer;  
}